# .NET Core build files
obj/
bin/

# User-specific files
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/

# Visual Studio cache files
.vs/

# Build Folders (artifacts)
*_ReSharper*/
*_Resharper*/
*.resharper
[Tt]est[Rr]esult*/
[Bb]uild/

# NuGet Packages
*.nupkg
project.lock.json
*.paket.*.dll

# .NET Core project-specific
*.dotnet*
*.userprefs
*.xproj
*.xproj.user

# Miscellaneous
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
*.log

# Visual Studio Code specific
.vscode/

# Rider
.idea/

# Node.js
node_modules/

# Paket dependency manager
.paket/paket.exe
paket-files/
paket.lock
*.paket.runtime

# Npm cache
*.npm/
*.nyc_output/

# ESLint
eslint-config.js
.eslintcache

# TypeScript
*.tsbuildinfo

# Webpack
dist/
